// COLORS
$color-primary: #408ce2;
$color-primary-light: #3576be;
$color-primary-dark: #3b83d5;

$color-secondary-light: #ffd202;
$color-secondary-dark: #fdcf00;

$color-hot: #f35d5f;
$color-new: #20b9bf;
$color-button: #fad771;

$color-grey-light-1: #f6f6f6;
$color-grey-light-2: #eeeeee;
$color-grey-light-3: #fafafa;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #eeeeee;

$color-white: #ffffff;
$color-black: #333333;


$line: 1px solid #e5e5e5;

$shadow-box: 0 .2rem .4rem rgba(0,0,0, 0.2);

// FONT
$default-font-size: 1.2rem;
$width: 114.1rem;

