.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.col {
    &-1-of-4 {
        -webkit-box-flex: 25%;
        -ms-flex: 25%;
        flex: 25%;
    }
    &-1-of-2 {
        -webkit-box-flex: 50%;
        -ms-flex: 50%;
        flex: 50%;
    }
    &-1-of-3 {
        -webkit-box-flex: 1/3;
        -ms-flex: 1/3;
        flex: 1/3;
    }
}


ul {
    list-style-type: none;
	
    .item-list__element {
        display: inline-block;
        position: relative;
        margin-left: 1.5rem;
        color: $color-black;

        &:not(:first-child)::before {
            content: "/";
            display: block;
            height: 1.2rem;
            width: 1.2rem;
            position: absolute;
            top: 0;
            left: -1rem;
        }

        &:last-child a {
            color: $color-grey-dark-2;
        }
    }
}