.btn {
    border: $line;
    background: $color-grey-light-3;
    border-radius: .2rem;
    cursor: pointer;


    &-circle,
    &-move {
        width: 2.5rem;
        height: 2.5rem;
    }

    &-circle {
        border-radius: 50%;
    }

    &-status {
        position: absolute;
        top: 1.2rem;
        left: 1.2rem;
        z-index: 2;
        display: inline-block;
        padding: .2rem;
        text-align: center;
        width: 4.2rem;
        border-radius: 2px;
        color: $color-white;
    }

    &-sale {
        background-color: $color-hot;
    }

    &-new {
        background-color: $color-button;
    }

    &-select {
        width: 13.1rem;
    }

    &-add {
        width: 10.1rem;

        &-product{
            display: inline-block;
            height: 2.2rem;
            width: 2.2rem;
            border-radius: 50%;
            background: url(../img/home/icon/btn-add.png) 50% 50% no-repeat $color-grey-light-2;
            background-size: .8rem .8rem;
            position: absolute;
            top: 1.1rem;
            right: 1rem;
            border: $line;
        }
    }

    &-select,
    &-add {
        height: 3.3rem;
        padding: 1rem 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 1.8rem;
    }

    &-more{
        text-transform: uppercase;
        font-size: 1.4rem;
        color: $color-primary;
        text-decoration: none;
        position: relative;

        &::after{
            content: "";
            display: none;
            position: absolute;
            height: 2.5rem;
            width: 2.5rem;
            background: url(../img/home/move-right.png) 50% 40% no-repeat;
        }

        &:hover::after{
            display: inline;
        }
    }

    &:hover{
        -webkit-box-shadow: $shadow-box;
                box-shadow: $shadow-box;
    }

    &-email{
        height: 4.6rem;
        width: 10rem;
        background-color: $color-secondary-light;
        border: none;
        outline: none;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;

        position: absolute;
        top: 0;
        right: 0;

        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    &-down{
        background: transparent url(../img/home/icon/btn-down.png) 50% 50% no-repeat;
        position: absolute;
        background-size: 1rem.6rem;
        display: inline-block;
        top: 1.2rem;
        right: 1.2rem;
        height: 2rem;
        width: 2rem;
        border: none;
    }

    &-sort{
        height: 3.4rem;
        width: 3.6rem;

        &:hover, &:active{
            background-color: $color-grey-dark-3;
        }

        &-list{
            background: url(../img/home/icon/btn-list.png) 50% 50% no-repeat;
            background-size: 1.6rem 1.2rem;
        }

        &-detail{
            background: url(../img/home/icon/btn-detail.png) 50% 50% no-repeat;
            background-size: 1.6rem 1.3rem;
        }
    }
}

.active{
    background-color: $color-black;

    &>*{color: $color-white;};
}

.hide {display: none!important}

.pag-left{
    background: url(../img/home/move-left.png) no-repeat;
    background-size: .6rem .9rem;
    display: inline-block;
    height: .9rem;
    width: .6rem;
}

.pag-right{
    background: url(../img/home/move-right.png) no-repeat;
    background-size: .6rem .9rem;
    display: inline-block;
    height: .9rem;
    width: .6rem;
}