.ad{
	width: 100%;
	display: flex;
	justify-content: space-between;


	&__item{
		width: 36.7rem;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: .2rem;
	}

	&__type-2{
		width: 41rem;
		height: 17rem;
		background-size: cover;
		margin: 4.5rem 0;
	}

	&__type-3{
		width: 84rem;
	}
}