.ad{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	cursor: pointer;

	&__item{
		width: 36.7rem;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: .2rem;
	}

	&__type-2{
		width: 41rem;
		height: 17rem;
		background-size: cover;
		margin: 4.5rem 0;
	}

	&__type-3{
		width: 84rem;
	}

	&-bottom{
		width: $width;
		margin: 0 auto;
		height: 200px;
		background-color: red
	}
}