.nav {
    width: $width;
    height: 5.4rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: $color-black;
    position: relative;
    &>* {
        text-transform: uppercase;
    }

    &-content,
    &-contact {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        height: 5.4rem;

        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    &-link {
        color: $color-white;
        text-decoration: none;

        outline: none;
    }

    &-department {
        width: 27rem;
        height: 5.4rem;
        font-size: 1.4rem;
        font-weight: inherit;
        padding: 1.5rem;
        color: $color-black;
        background-color: $color-secondary-light;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        cursor: pointer;
        &>span {
            margin-right: auto;
        }

        .drop-icon {
            width: 1.4rem;
            height: 1.1rem;
        }
    }

    &-content {
        width: 61rem;
        padding: 0 2.5rem;
        -ms-flex-pack: distribute;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        margin-right: auto;
    }

    &-item{
        align-self: stretch;
        padding: 1.8rem 0;
        position: relative;
        transition: all .2s;

        &::before{
            display: none;
            content: "";
            height: 2px;
            width: 100%;
            background-color: $color-white;
            position: absolute;
            top: 0;
            left: 0;
        }

        &:hover::before{
            display: inline-block;
        }
    }

    &-contact {
        margin-right: 1rem;

        &__phone {
            color: $color-black;
            padding: 0 .2rem;
            background-color: $color-secondary-light;
            border-radius: .2rem;
            margin-left: .5rem;
        }

        &__text {
            color: $color-grey-dark-2;
        }
    }

    &-menu {
        color: $color-black;
        margin: 0 auto;
        position: absolute;
        top: 5.4rem;
        left: 0;
        background: transparent;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        &__category {
            width: 27rem;
            background-color: $color-white;
        }

        &__list {
            list-style-type: none;
            border-left: $line;
            border-bottom: $line;
            border-right: $line;
        }

        &__item {
            height: 4.9rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            padding: 1.8rem;
            cursor: pointer;
            position: relative;
            
            &:not(:last-child) {
                border-bottom: $line;
            }

            &::after {
                content: "";
                display: none;
                width: 1.5rem;
                height: 1.5rem;
                position: absolute;
                background: url(../img/home/move-right.png) no-repeat;
                background-size: .6rem .9rem;
                right: .4rem;
            }

            &:hover {
                -webkit-box-shadow: $shadow-box;
                box-shadow: $shadow-box;
                &::after {
                    display: inline-block;
                }
            }
        }

        &__icon {
            width: 1.4rem;
            height: 1.3rem;
            margin-right: 1rem;
            font-weight: 700;
        }

        &__mega {
            display: none;
            width: 100rem;
            height: 34rem;
            text-transform: none;
            -webkit-box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.2);
            position: absolute;
            top: 0;
            left: 34.5rem;
            background-color: $color-white;
            z-index: 1;

            &-title {
                text-transform: uppercase;
                font-size: 1.4rem;
                font-weight: 700;
            }

            &-list {
                list-style-type: none;
                &>li {
                    padding: 1rem 0;
                }
            }

            &-item {
                -webkit-box-flex: 25%;
                -ms-flex: 25%;
                -webkit-flex: 25%;
                flex: 25%;

                cursor: pointer;

                &:not(:last-child) {
                    border-right: $line;
                    padding: 3rem;
                }

                &:last-child {
                    padding: 2rem;
                }
            }

            &-ad {
                height: 29.9rem;
                width: 21.1rem;
                position: cover;
            }

            &:hover {
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
            }
        }
    }

    &-content:hover~&-menu &-menu__mega {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}