.site-bar{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 4.2rem;
	width: 100vw;
	padding: 0 calc((100vw - 1141px)/2);
	margin: 0 auto;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: $color-primary-dark;
	font-size: 1.2rem;

	& > *	{color:$color-white;};
		


	&__coin, &__lang{
		background-color: $color-primary-dark;
	}

	&__auth{
		margin-right: 2rem;

		span{
			margin: 0 .2rem;
		}

		.login, .signup{
			color: $color-white;
		}
	}

	a{
		text-decoration: none;
	}

	&__coin{
		padding-left: 2rem;
		margin-right: auto;
		border-left: $line;
	}

	&__app{
		width: 10.7rem;
		height: 2.4rem;
		text-align: center;
		text-transform: uppercase;
		background-color: $color-primary-light;
		padding-top: .25rem;
		margin-left: 2rem; 

		&:hover{
			-webkit-box-shadow: $shadow-box;
			        box-shadow: $shadow-box;
		}
	}

	&__lang{
		margin: 0 2rem; 
		overflow: hidden;
	}

	&__wishlist{
		width: 10.4rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding-left:1.8rem;
		margin-left: 2rem;
		.wishlist-icon {
			margin-right: .5rem;
		}

		border-left: $line;
		border-right: $line;
	}
}