.card-banner {
    width: $width;
    margin: 0 auto;
    height: 49.1rem;
    padding-left: 29.1rem;
    position: relative;
    padding-top: 2.1rem;

    &__image {
        width: 85rem;
        height: 47rem;
        background-repeat: no-repeat;
    }
}

.container {
    width: $width;
    margin: 4rem auto;
    color: $color-black;
}

.product {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .side-bar {
        flex: 26.5rem;
    }

    &-listing {
        flex: 63rem;
    }
}

.hot-deal {
    width: 26.5rem;
    text-align: center;
    border: $line;

    &__title {
        display: flex;
        width: 26.3rem;
        height: 5rem;
        align-items: center;
        background-color: $color-grey-dark-3;

        &>h1 {
            font-style: "Raleway", sans-serif;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 600;
            margin-left: 3rem;
            margin-right: auto;
        }
    }

    &__next {
        margin-right: .8rem;
    }

    &__detail {
        width: 26.3rem;
        height: 33rem;
    }

    &__product {
        width: 11.3rem;
        height: 18rem;
        margin-top: 2.5rem;
        margin-bottom: 4rem;
    }

    &__timer {
        width: 26.3rem;
        height: 6rem;
        display: flex;
        border-top: $line;
        line-height: 1.4;
        &-item {
            flex: 1;
            height: 6rem;
            padding: 1.4rem;
            &:not(:last-child) {
                border-right: $line;
            }
        }

        &-count {
            font-weight: 700;
        }
    }
}

.item {
    width: 100%;
    

    &-arrival {
        height: 3rem;
        text-transform: uppercase;
        &__title {
            font-size: 1.4rem;
            font-weight: 700;
            margin-right: auto;
        }

        &__type {
            color: $color-grey-dark;
            text-decoration: none;
            outline: none;
        }

        &__division {
            width: 42rem;
            justify-content: space-evenly;
        }
    }

    &-list {
        margin-top: 2rem;
        border: $line;
        height: 33rem;
		z-index: 2;
        
    }

    &-unit {
    	height: 33rem;
    	position: relative;
    	text-align: center; 
        &:hover {
            box-shadow: $shadow-box;
            .item-action{
            	display: flex;
            }
        }
        &:not(:last-child) {
            border-right: $line;
        }

        & > .image{
        	margin: 1px;
        	text-align: center;
        }
    }

    &-image{
    	width: 20.4rem;
    }

    &-detail{
    	font-size: 1.2rem;
    	font-weight: 400;
    	font-family: "Roboto", sans-serif;
    	margin-top: 2.2rem;
    }

    &-action{
    	display: none;
    	position: absolute;
    	height:3.3rem;
    	width: 100%;
    	left: 0;
    	bottom: 10.4rem;
    	z-index: 3; 
    	border-top: $line;
    	border-bottom: $line;
    	background-color: $color-white;

    	&__unit{
    		height: 100%;
    		padding: .7rem;
    		text-align: center;

    		&:not(:last-child){
    			border-right: $line;
    		}

    		&:first-child{
    			background-color: $color-primary;
    		}

    		&:hover{
    			box-shadow: $shadow-box;
    		}
    	}
    }
}