.card-banner {
    width: $width;
    margin: 0 auto;
    height: 49.1rem;
    padding-left: 29.1rem;
    position: relative;
    padding-top: 2.1rem;

    &__image {
        width: 85rem;
        height: 47rem;
        background-repeat: no-repeat;
    }
}

.container {
    width: $width;
    margin: 4rem auto;
    color: $color-black;
}

.product {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .side-bar {
        width: 26.5rem;
        margin-right: auto;
    }

    &-listing {
        width: 84rem;
    }
}



.box-adv{
	width: 26.5rem;
	height: 34rem;
	background-size: cover;
	background-repeat: no-repeat;
}

.user{
	width: 26.5rem;
	border: $line;
	font-family: "Raleway", sans-serif;
	text-align: center;

	&-title{
		font-weight: 600;
		font-size: 1.4rem;
		text-transform: uppercase;
		padding: 1.4rem;
		color: $color-white;
		height: 5rem;
		background-color: $color-primary;
	}

	&-comment{
		padding: 3.1rem 0;
		position: relative;

		&__content{
			line-height: 2.2rem;
			padding: 0 2.8rem;
		}
	}

	&-info{
		padding-top: 2.2rem;
	}

	&-avata{
		width: 6.4rem;
		height: 6.4rem;
		border-radius: 50%;
		border: 1px solid transparent;
	}

	&-name{
		text-transform: uppercase;
		font-weight: 600;
	}

	.swiper-pagination{
		height: 6.9rem;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		&::before{
			content:"";
			position: absolute;
			height: .1rem;
			width: 23rem;
			background-color: rgba(0,0,0, 0.2);
			left: 1.8rem;
			top: 0;
		}

		&__bullet{
			width: .7rem;
			height: .7rem;
			border-radius: 50%;
			background-color: $color-grey-dark-2;
			&:not(:last-child){
				margin-right: .9rem;
			}

			&-active{
				background-color: $color-primary;
			}
		}
	}
}

